@use 'sass:color';

$boardSizeVertical: 90vw;
$boardSizeHorizontal: 80vh;
$nameSquareSizeVertical: calc(20 / 740 * $boardSizeVertical);
$nameSquareSizeHorizontal: calc(20 / 740 * $boardSizeHorizontal);

$pieceSize: calc(2 / 3 * 100%);

$minipieceSize: 6px;

$globalFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondaryFont: 'Cousine', monospace;

$blackSquareColor: rgba(170, 170, 170, 0.7);
$whiteSquareColor: rgba(255, 255, 255, 0.7);
$clickedColor: #ea2b2b;
$borderColor: color.mix(darkgrey, black, 80%);

$colorTransitionTime: 0.3s;

$breakpoint: 768px;